.content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.search{
    margin-top: 10px;
}

.little-sample img{
    height: 70px;
    width: auto;
    margin: 5px;
}

.sample img{
    height: 150px;
    width: auto;
}

.little-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

.back-section {
    background: #6AE162;
}

.ble{
    font-size: 40px !important;
}

#logo{
    height: 90px;
    width: auto;
}

#findButton {
    margin-top: 10px;
}

